<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Overview-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Version-added-and-installing" data-toc-modified-id="Version-added-and-installing-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Version added and installing</a></span></li><li><span><a href="#Sample-data" data-toc-modified-id="Sample-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Sample data</a></span></li><li><span><a href="#Simple-use-case" data-toc-modified-id="Simple-use-case-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Simple use case</a></span></li></ul></div>

# Overview

This note is a document of the PlotPlayground library.  
"Simple line date series plot" of the storytelling package is the target.

[Github](https://github.com/simon-ritchie/plot_playground)

# Version added and installing

v0.0.5, Released February 9, 2019.

In [1]:
!pip install plot_playground==0.0.5

Collecting plot_playground==0.0.5
  Downloading https://files.pythonhosted.org/packages/41/47/94cf08ed75edb22db57bbb973211a88c8262421faf71e579e5db401d6ed5/plot_playground-0.0.5-py3-none-any.whl
Installing collected packages: plot-playground
Successfully installed plot-playground-0.0.5

You are using pip version 10.0.1, however version 19.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

# Sample data

In [29]:
from datetime import datetime

import pandas as pd
from pandas.tseries.offsets import Day, MonthBegin
import numpy as np

In [36]:
start_dt = datetime(2015, 6, 1)
last_dt = datetime(2019, 2, 1)

date_str_list = []

orange_shipment_list = []
apple_shipment_list = []
melon_shipment_list = []

orange_price_list = []
apple_price_list = []
melon_price_list = []

index = 0
target_dt = start_dt
while target_dt <= last_dt:
    target_date_str = target_dt.strftime('%Y-%m')
    date_str_list.append(target_date_str)
    orange_shipment_list.append(np.random.randint(1000, 3000))
    apple_shipment_list.append(
        int(np.random.randint(1000, 2000) + index / 3 * np.random.randint(0, 3)))
    melon_shipment_list.append(np.random.randint(300, 1500))
    
    orange_price_list.append(np.random.randint(130, 180) / 100)
    apple_price_list.append(np.random.randint(120, 170) / 100)
    melon_price_list.append(np.random.randint(250, 450) / 100)
    target_dt += MonthBegin()
    index += 1

In [37]:
len(date_str_list)

45

In [38]:
len(orange_shipment_list)

45

In [39]:
df = pd.DataFrame(
    columns=['date', 'orange_shipment', 'orange_price', 'apple_shipment',
             'apple_price', 'melon_shipment', 'melon_price'],
    index=np.arange(0, len(date_str_list)))

In [40]:
df.date = date_str_list
df.orange_shipment = orange_shipment_list
df.orange_price = orange_price_list
df.apple_shipment = apple_shipment_list
df.apple_price = apple_price_list
df.melon_shipment = melon_shipment_list
df.melon_price = melon_price_list

In [41]:
df

,date,orange_shipment,orange_price,apple_shipment,apple_price,melon_shipment,melon_price
0,2015-06,1582,1.79,1012,1.43,562,3.43
1,2015-07,1942,1.46,1269,1.44,643,3.39
2,2015-08,2122,1.61,1939,1.30,561,4.24
3,2015-09,2219,1.79,1506,1.49,1469,2.59
4,2015-10,1234,1.56,1005,1.47,1454,3.27
5,2015-11,1790,1.62,1571,1.63,1163,2.78
6,2015-12,2558,1.36,1867,1.51,693,3.28
7,2016-01,1169,1.51,1991,1.61,1250,3.42
8,2016-02,2708,1.73,1965,1.55,1486,2.78
9,2016-03,2884,1.59,1128,1.33,787,3.92
10,2016-04,2353,1.47,1237,1.31,671,3.51
11,2016-05,2062,1.66,1481,1.51,913,2.63
12,2016-06,2567,1.66,1290,1.58,439,3.20
13,2016-07,2822,1.35,1946,1.57,921,3.80
14,2016-08,2925,1.35,1634,1.20,1164,3.52
15,2016-09,1007,1.30,1187,1.29,931,3.64
16,2016-10,2651,1.62,1319,1.42,431,4.21
17,2016-11,1548,1.30,1807,1.57,808,3.96
18,2016-12,1083,1.42,1427,1.37,1190,4.40
19,2017-01,2117,1.47,1411,1.20,839,2.92
20,2017-02,1353,1.32,1149,1.63,551,2.67
21,2017-03,1161,1.76,1333,1.60,621,2.50
22,2017-04,1900,1.71,1212,1.67,944,4.23
23,2017-05,1170,1.42,1015,1.68,596,3.13
24,2017-06,1575,1.59,1724,1.63,602,3.00
25,2017-07,1289,1.67,1926,1.23,1354,3.55
26,2017-08,1637,1.64,1638,1.30,1202,3.94
27,2017-09,1986,1.31,1962,1.63,966,3.51
28,2017-10,1319,1.30,1047,1.66,1232,2.62
29,2017-11,1326,1.54,1806,1.36,768,3.62
30,2017-12,2887,1.76,1233,1.53,983,4.30
31,2018-01,2203,1.73,1443,1.20,1139,3.83
32,2018-02,1624,1.31,1520,1.36,574,2.53
33,2018-03,2078,1.61,1808,1.30,1362,3.04
34,2018-04,1245,1.66,1604,1.57,487,3.58
35,2018-05,1081,1.52,1837,1.67,989,3.81
36,2018-06,1111,1.49,1940,1.32,929,3.35
37,2018-07,1560,1.38,1659,1.41,1147,3.36
38,2018-08,2155,1.74,1742,1.41,832,3.22
39,2018-09,1312,1.55,1359,1.45,589,2.89
40,2018-10,2076,1.79,1986,1.40,1394,3.83
41,2018-11,2786,1.43,1985,1.54,1478,3.15
42,2018-12,2948,1.63,1210,1.33,674,3.59
43,2019-01,1134,1.35,1407,1.34,615,4.31
44,2019-02,2185,1.45,1292,1.59,1483,3.87

# Simple use case

In [42]:
from plot_playground.storytelling.simple_line_date_series_plot import display_plot

In [43]:
display_plot(
    df=df,
    date_column='date',
    normal_columns=['apple_shipment', 'melon_shipment'], 
    stands_out_columns=['orange_shipment'])

ValueError: It contains a value in the form of an unsupported date: 2015-06